*{
    font-family: 'Courier New', Courier, monospace;
}

img{
    width: 100%;
    border-radius: 5px;
}

.hero-image{
    background-image: url("./MyScotlandResources/images/scotland-1987599_1280.jpg");
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text{
    color: rgb(255, 255, 255);
    left: 0;
    top: 160px;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    -webkit-text-stroke: 1px #005EB8; 
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.two-column {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 50px;
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

.info{
    font-size: 1.25em;
}

.three-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}

.card{
    background-color: #005EB8;
}

.card-text{
    text-align: center;
    -webkit-text-stroke: 1px #002548;
    color: white;
}